TELEGRAM_BOT_TOKEN=ваш_токен_бота_от_BotFather
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=ваш_email@yandex.ru
SMTP_PASSWORD=ваш_пароль_приложения
RECIPIENT_EMAILS=email1@gmail.com,email2@yandex.ru
ADMIN_TELEGRAM_IDS=123456789,987654321